---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { fetchMainNav, fetchOtherPages, fetchPosts } from '../functions/fetchContent.js';

// const mainNavItems = await fetchMainNav();
// const otherPages = await fetchOtherPages();
const blogPosts = await fetchPosts();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Astronaut!</h1>
			<p>
				Welcome to the official blog of John Hazel.
			</p>
			<p>For more about John Hazel, visit my <a href="https://johnhazel.com" target="_blank">portfolio website.</a></p>
			<p>If you're interested in working with me to get a website built, or any other kind of technology work, check out <a href="hazelize.com" target="_blank">Hazelize.</a></p>
			<p>If you're a ministry leader, check out <a href="https://churchpl.us" target="_blank">Churchpl.us</a></p>
			<p>I'm a passionate and intellectually curious individual, deeply engaged in exploring the interconnectedness of various knowledge systems. I have a broad spectrum of interests ranging from personal development and spirituality to structured frameworks like GTD (Getting Things Done) and the Working Genius model. My approach is both philosophical and introspective, and I spend considerable time reflecting on cognitive functions, spirituality, and personal growth.</p>
			<p>In my life, professional and personal pursuits are closely intertwined with intellectual exploration, highlighting my commitment to lifelong learning and self-improvement. I draw insights from a range of disciplines, applying them to enhance both my professional output and personal fulfillment. Engaged with diverse concepts such as leadership, discernment, and decision-making, I position myself as a thoughtful and reflective thinker, always seeking to apply theoretical knowledge in practical, life-enhancing ways. This blog serves as a platform to share my journey and the valuable lessons I've learned along the way.</p>
		</main>
		<h2 style="margin-left: 20px;">Latest Posts</h2>
		<ul>
			{blogPosts.map(post => (
				<li key={post.name}><a href={post.download_url}>{post.name}</a></li>
			))}
		</ul>
		<Footer />
	</body>
</html>
